<%# <h1>Add Course</h1>
<%# form_with(model: @course, local: true) do |f| %> 
<%# <%= form_for @course do |f| %>
  <%# <%= f.label :name %>
  <%# <%= f.text_field :name, required: true, placeholder: 'Name' %>
  <%# <%= f.submit %>
<%# <% end %> %> %> %> %> %> %>
<h1>Create new User </h1>
<%= form_for @user do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.submit %>
<% end %>